* {
    padding: 0;
    margin: 0;
    list-style: none;    /*列表格式为none，li中的实心圆去掉 */
    border: 0;
 }

 /* 导航栏 */
.header{
    width: 100%;
    height: 60px;
    /* transition: all 0.4s ease-in-out;  */
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.shadow{
    box-shadow: 0 5px 40px -1px rgba(2, 10, 18, 0.1);
}

.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    align-items: center;
}

.header .nav{
    flex: 1;
}

.header .nav li{
    /* display: list-item; */
    height: 100%;
    width: 100px;
    /* list-style-type: none; */
    margin:10px;
    padding-left: 10px;
}

.header .nav li a{
    text-decoration: none;
    color: black;
    font-size: medium;
    
}
.here{
    color:red;
}

#title a.here:link,#title a.here:visited, #title a.here:hover, #title a.here:active{
    color: red;
    font-size: large;
}


/* 导航栏下的内容样式  */
.layout {
    width: 100%;
    /* min-height: calc(100vh - 252px); */
    /* z-index: 998; */
    width: auto;
    min-width: 1024px;
    padding-top: 70px;
    
}

.layout .fluid {
    padding: 20px 0;
}

.container{
    max-width: 1380px;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin: 10px;
} 
/* 标签样式 */
img {
    height: auto;
    max-width: 100%;
    border-style: none;
    
}
a {
    text-decoration: none;
    color: #161e27;
}

h2{
    font-size: 18px;
    font-weight: normal;
}

/* 底部 */
.footer{
    width: 100%;
    height: 80px;
    background-color:rgba(53, 48, 48,0.1);
    margin-bottom: 0;
}

.footer  .container {
    padding: 0;
    color: #6d7685;
    font-size: 14px;
}

/* .footer  .container p{
    font-size: 14px;
} */

.footer  .container .left{
    padding:12px 10px 10px;
}

.mr5 {
    margin-right: 5px;
}

.footer  .container a {
    color: #6d7685;
    /* text-decoration: none; */
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

