<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的音乐</title>
    <link rel="stylesheet" href="../css/rankingList.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="app">
        <!-- 导航栏 -->
        <div class="header shadow">
            <div class="container flex-row">
                <ul class="nav flex-row" id="title">
                    <li><a href="foundMusic.html"  >首页</a></li>
                    <li><a href="singer.html"  >歌手</a></li>
                    <li><a href="songs.html" >歌单</a></li>
                    <li><a href="rankingList.html" class="here">排行榜</a></li>
                </ul>
            </div>
        </div>
        <!-- 文本内容 -->
        <div class="layout">
          <div class="fluid">
              <div class="rank-wrap container">
                <!-- 音乐特色榜那一栏 -->
                  <div class="module">
                        <h2 class="title flex-row" >
                            音乐特色榜
                        </h2>
                            <div class="list">
                             <!-- ----- -->
                             <div class="item six" v-for="(user,index) in userlist":key="index">
                                <a href="rank-detail.html">
                                    <div class="cover">
                                        <div class="image">
                                            <div class="el-image">
                                                <img :src="user.avatar" alt="" class="el-image-inner">
                                            </div> 
                                        </div>
                                        <div class="count">
                                            <i  class="arrow"></i>
                                            <span>{{user.count}}</span>
                                        </div>
                                    </div>
                                </a>
                            <div  class="info">
                                <h2  class="name ellipsis-two">  {{user.name}} </h2>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- 地区榜那一栏 -->
                    <div class="module">
                        <h2 class="title flex-row" >
                            地区榜
                        </h2>
                        <div class="list">
                            <!-- ----- -->
                            <div class="item six" v-for="(user,index) in userlist1":key="index">
                                <a href="rank-detail.html">
                                    <div class="cover">
                                        <div class="image">
                                            <div class="el-image">
                                                <img :src="user.avatar" alt="" class="el-image-inner">
                                            </div>
                                        </div>
                                        <div class="count">
                                            <i  class="arrow"></i>
                                            <span>{{user.count}}</span>
                                        </div>
                                    </div>
                                </a>
                                <div  class="info">
                                    <h2  class="name ellipsis-two">  {{user.name}} </h2>
                                </div>
                            </div>
                            
                    </div>
                </div>
                <!-- 全球媒体榜那一栏 -->
                <div class="module">
                    <h2 class="title flex-row" >
                        全球媒体榜
                    </h2>
                    <div class="list">
                        <!-- ----- -->
                        <div class="item six" v-for="(user,index) in userlist2":key="index">
                            <a href="rank-detail.html">
                                <div class="cover">
                                    <div class="image">
                                        <div class="el-image">
                                            <img :src="user.avatar" alt="" class="el-image-inner">
                                        </div>
                                    </div>
                                    <div class="count">
                                        <i  class="arrow"></i>
                                        <span>{{user.count}}</span>
                                    </div>
                                </div>
                            </a>
                            <div  class="info">
                                <h2  class="name ellipsis-two">  {{user.name}} </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <!-- 底部 -->
        <div  class="footer">
            <div  class="container">
                <p class="left">
                    Mymusic
                </p>
                <p >
                    <span class="mr5">Mymusic © 2019-2020</span>
                    <a href="#" id="mymusic">mymusic 演示站</a>
                    <span >. Designed by cheng</span>
                </p>
            </div>
        </div>
    </div> 

    <script>
        let vm=new Vue({
            el:'#app',
            data() {
                return {
                    user:{
                        avatar: 'https://p1.music.126.net/DrRIg6CrgDfVLEph9SNh7w==/18696095720518497.jpg?param=300y300',
                        count:'35万',
                        name:'音乐飙升榜',
                    },
                    // 音乐特色榜
                    userlist: [
                        {
                            avatar: 'https://p1.music.126.net/DrRIg6CrgDfVLEph9SNh7w==/18696095720518497.jpg?param=300y300',
                            count:'35万',
                            name:'音乐飙升榜',
                        },
                        {
                            avatar: 'https://p1.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=300y300',
                            count:'19万',
                            name:'音乐新歌榜',
                        },
                        {
                            avatar: 'https://p2.music.126.net/GhhuF6Ep5Tq9IEvLsyCN7w==/18708190348409091.jpg?param=300y300',
                            count:'75万',
                            name:' 音乐热歌榜',
                        },
                    ],
                    // 地区榜
                    userlist1: [
                        {
                            avatar: 'https://p1.music.126.net/c0iThrYPpnFVgFvU6JCVXQ==/109951164091703579.jpg?param=300y300',
                            count:'5207万',
                            name:' 欧美热歌榜',
                        },
                        {
                            avatar: 'https://p1.music.126.net/gA3BalzlKrHZlHJqcK0iWw==/109951165165699702.jpg?param=300y300',
                            count:'408万',
                            name:'日语榜',
                        },
                        {
                            avatar: 'https://p1.music.126.net/EBRqPmY8k8qyVHyF8AyjdQ==/18641120139148117.jpg?param=300y300',
                            count:'4亿',
                            name:'美国Billboard周榜',
                        },
                        {
                            avatar: 'https://p2.music.126.net/vs-cMh49e6qPEorHuhU07A==/18737877162497499.jpg?param=300y300',
                            count:'5797万',
                            name:'  韩语榜',
                        },
                    ],
                    // 全球媒体榜
                    userlist2: [
                        {
                            avatar: 'https://p1.music.126.net/oUxnXXvM33OUHxxukYnUjQ==/109951164174523461.jpg?param=300y300',
                            count:'7亿',
                            name:'抖音排行榜',
                        },
                        {
                            avatar: 'https://p2.music.126.net/0BcoQQ36qj56JnGKzY8QbQ==/109951165165696810.jpg?param=300y300',
                            count:'1588万',
                            name:'古风榜',
                        },
                        {
                            avatar: 'https://p1.music.126.net/5tgOCD4jiPKBGt7znJl-2g==/18822539557941307.jpg?param=300y300',
                            count:'2亿',
                            name:'电音榜',
                        },
                        {
                            avatar: 'https://p1.music.126.net/H4Y7jxd_zwygcAmPMfwJnQ==/19174383276805159.jpg?param=300y300',
                            count:'5502万',
                            name:'KTV榜',
                        },
                        {
                            avatar: 'https://p1.music.126.net/vkkfXP8VyUHJKCJWJdKs-A==/109951165286069895.jpg?param=300y300',
                            count:'558万',
                            name:' 新说唱热歌榜',
                        },
                    ],
                }
            },

        })

    </script>

</body>
</html>
