<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的音乐</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/singer.css">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="app">
        <!-- 导航栏 -->
        <div class="header shadow">
            <div class="container flex-row">
                <ul class="nav flex-row" id="title">
                    <li><a href="foundMusic.html"  >首页</a></li>
                    <li><a href="singer.html" class="here" >歌手</a></li>
                    <li><a href="songs.html" >歌单</a></li>
                    <li><a href="rankingList.html" >排行榜</a></li>
                </ul>
            </div>
        </div>
        <!-- 标题下面内容 -->
        <div class="layout" >
            <div class="fluid">
                <div class="singer-wrap container">
                    <!-- 歌手分类导航栏 -->
                    <div class="filter">
                        <ul  class="tag-lang tag-type" id="box">
                            <li  class="active"> 全部 </li>
                            <li  class=""> 男歌手 </li>
                            <li  class=""> 女歌手 </li>
                            <li  class=""> 乐队 </li>
                        </ul>
                    </div>
                    <div class="load-more"  id="box1">
                        <!-- 1 -->
                        <ul class="singer-list" >
                            <li v-for="(user,index) in userlist":key="index">
                                <div  class="cover">
                                    <div  class="image">
                                        <div  class="el-image">
                                            <img :src="user.avatar"  class="el-image-inner">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div  class="info">
                                    <p  class="name">{{user.name}}</p>
                                    <p  class="count">{{user.count}}</p>
                                </div>
                            </li>
                        </ul>
                        <!-- 2 -->
                        <ul>
                            <li v-for="(user,index) in userlist1":key="index">
                                <div  class="cover">
                                    <div  class="image">
                                        <div  class="el-image">
                                            <img :src="user.avatar"  class="el-image-inner">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div  class="info">
                                    <p  class="name">{{user.name}}</p>
                                    <p  class="count">{{user.count}}</p>
                                </div>
                            </li>

                        </ul>
                        <!-- 3 -->
                        <ul>
                            <li v-for="(user,index) in userlist2":key="index">
                                <div  class="cover">
                                    <div  class="image">
                                        <div  class="el-image">
                                            <img :src="user.avatar"  class="el-image-inner">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div  class="info">
                                    <p  class="name">{{user.name}}</p>
                                    <p  class="count">{{user.count}}</p>
                                </div>
                            </li>
                        </ul>
                        <!-- 4 -->
                        <ul>
                            <li v-for="(user,index) in userlist3":key="index">
                                <div  class="cover">
                                    <div  class="image">
                                        <div  class="el-image">
                                            <img :src="user.avatar"  class="el-image-inner">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div  class="info">
                                    <p  class="name">{{user.name}}</p>
                                    <p  class="count">{{user.count}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div  class="footer">
            <div  class="container">
                <p class="left">
                    Mymusic
                </p>
                <p >
                    <span class="mr5">Mymusic © 2019-2020</span>
                    <a href="#" id="mymusic">mymusic 演示站</a>
                    <span >. Designed by cheng</span>
                </p>
            </div>
        </div>
    </div>
 

<script>
    let vm=new Vue({
        el:'#app',
        data() {
            return {
                user:{
                    avatar: 'http://p3.music.126.net/ZXX_c7YiEcNp5HVQWa-y6A==/109951164528322889.jpg?param=200y200',
                    name:'毛不易',
                    count:'单曲数121',
                },
                userlist: [
                    {
                        avatar: 'http://p3.music.126.net/ZXX_c7YiEcNp5HVQWa-y6A==/109951164528322889.jpg?param=200y200',
                        name:'毛不易',
                        count:'单曲数121',
                    },
                    {
                        avatar: 'http://p4.music.126.net/nfgZTD8SBvIlnLuGEYWYDg==/109951165182866347.jpg?param=200y200',
                        name:'林俊杰',
                        count:'单曲数605',
                    },
                    {
                        avatar: 'http://p3.music.126.net/ltoFA2DfaCPOsAiXnDns2Q==/109951164681625927.jpg?param=200y200',
                        name:'是你的垚',
                        count:'单曲数35',
                    },
                    {
                        avatar: 'http://p3.music.126.net/eiazGAbIGMBF-Q9lInm5xw==/109951164158509628.jpg?param=200y200',
                        name:'华晨宇',
                        count:'单曲数218',
                    },
                    {
                        avatar: 'http://p4.music.126.net/ATZ8-mOxophKXrLC0iXMZw==/109951163536269820.jpg?param=200y200',
                        name:'许嵩',
                        count:'单曲数238',
                    },
                    {
                        avatar: 'http://p3.music.126.net/e1V73y8t0G-mJMLJ8FK6dw==/109951163511969173.jpg?param=200y200',
                        name:'汪苏泷',
                        count:'单曲数417',
                    },
                    {
                        avatar: 'http://p3.music.126.net/vq6ND24GpdIWorqiWqz2jg==/109951165048009270.jpg?param=200y200',
                        name:'周深',
                        count:'单曲数320',
                    },
                    {
                        avatar: 'http://p4.music.126.net/PFVNR3tU9DCiIY71NdUDcQ==/109951165334518246.jpg?param=200y200',
                        name:'张杰',
                        count:'单曲数623',
                    },
                    {
                        avatar: 'http://p3.music.126.net/_egjY8qgSCwn5s4ZgGu9KA==/109951163427531646.jpg?param=200y200',
                        name:'h3R3',
                        count:'单曲数131',
                    },
                    {
                        avatar: 'http://p4.music.126.net/ytdZwERCVFd8U1VaWL6wXA==/109951165325450537.jpg?param=200y200',
                        name:'Justin Bieber',
                        count:'单曲数1207',
                    },

                    {
                        avatar: 'http://p3.music.126.net/kFvcOGKwtNQcskXloPFu4A==/109951163305732134.jpg?param=200y200',
                        name:'傲七爷',
                        count:'单曲数109',
                    },
                    {
                        avatar: 'http://p3.music.126.net/VXY5VYnsUVPExV6ZoQ81zw==/109951163460549658.jpg?param=200y200',
                        name:'司南',
                        count:'单曲数120',
                    },
                    {
                        avatar: 'http://p4.music.126.net/QY_pUbVroy4wW60HMqyS8w==/109951165187976643.jpg?param=200y200',
                        name:'田馥甄',
                        count:'单曲数327',
                    },
                    {
                        avatar: 'http://p4.music.126.net/f2R3-se6DLlcucIusS6mQQ==/109951163610593454.jpg?param=200y200',
                        name:'花粥',
                        count:'单曲数287',
                    },
                    {
                        avatar: 'http://p4.music.126.net/aSIfdr0oLmq-RujG78Oy3w==/109951164481811453.jpg?param=200y200',
                        name:'等什么君',
                        count:'单曲数53',
                    },
                    {
                        avatar: 'http://p4.music.126.net/Q92YwJrk2f2tsK-7B0VIhQ==/6628955605123612.jpg?param=200y200',
                        name:'陈粒',
                        count:'单曲数169',
                    },
                    {
                        avatar: 'http://p4.music.126.net/dh-U2KXHODP5wp8HkApQXg==/109951165317682310.jpg?param=200y200',
                        name:'卢卢快闭嘴',
                        count:'单曲数12',
                    },
                    {
                        avatar: 'http://p4.music.126.net/0Mqbnfd_uGrRe7uYHFPT7w==/109951164784283860.jpg?param=200y200',
                        name:'火羊瞌睡了',
                        count:'单曲数23',
                    },
                    {
                        avatar: 'http://p4.music.126.net/daN7qav1x0nWl-TZRe41dw==/109951163303423969.jpg?param=200y200',
                        name:'王贰浪',
                        count:'单曲数119',
                    },
                    {
                        avatar: 'http://p4.music.126.net/PRa6pWmd4CH0La2xL0kObQ==/109951164922459475.jpg?param=200y200',
                        name:'周思涵',
                        count:'单曲数80',
                    },

                    {
                        avatar: 'http://p4.music.126.net/ABu20RVf-nzyWRg83ds5rw==/1416170978775000.jpg?param=200y200',
                        name:'群星',
                        count:'单曲数52559',
                    },
                    {
                        avatar: 'http://p3.music.126.net/10SJIPMH-WYPfUv7gD3wWg==/109951163720168310.jpg?param=200y200',
                        name:'Beyond',
                        count:'单曲数2771',
                    },
                    {
                        avatar: 'http://p3.music.126.net/ohub446GfbVtIJ9_H-cjpw==/7719671138847203.jpg?param=200y200',
                        name:'房东的猫',
                        count:'单曲数103',
                    },
                    {
                        avatar: 'http://p4.music.126.net/WSxQCBXPPI-41Qz77fLsOw==/109951162809092287.jpg?param=200y200',
                        name:'音阙诗听',
                        count:'单曲数359',
                    },
                    {
                        avatar: 'http://p4.music.126.net/U9_yVbWosdU9hd2PluL7mQ==/109951164269437732.jpg?param=200y200',
                        name:'Higher Brothers',
                        count:'单曲数259',
                    },
                    {
                        avatar: 'http://p3.music.126.net/reiNPGtXl0vxxMgCXyzRag==/109951165040611052.jpg?param=200y200',
                        name:'Vicetone',
                        count:'单曲数402',
                    },
                    {
                        avatar: 'http://p4.music.126.net/Fp2l7_9h12895Q22lIqzXQ==/109951163438785715.jpg?param=200y200',
                        name:'宝宝巴士',
                        count:'单曲数12',
                    },
                    {
                        avatar: 'http://p4.music.126.net/0Mqbnfd_uGrRe7uYHFPT7w==/109951164784283860.jpg?param=200y200',
                        name:'火羊瞌睡了',
                        count:'单曲数1100',
                    },
                    {
                        avatar: 'http://p3.music.126.net/OMDObi0VPa5V_IY_qqCwdA==/109951165095724398.jpg?param=200y200',
                        name:'BLACKPINK',
                        count:'单曲数154',
                    },
                    {
                        avatar: 'http://p4.music.126.net/7BUW9dnqOMF1dn3ioKJOMg==/109951162820707114.jpg?param=200y200',
                        name:'Fine乐团',
                        count:'单曲数78',
                    },

                ],
                // 男歌手
                userlist1: [
                    {
                        avatar: 'http://p3.music.126.net/ZXX_c7YiEcNp5HVQWa-y6A==/109951164528322889.jpg?param=200y200',
                        name:'毛不易',
                        count:'单曲数121',
                    },
                    {
                        avatar: 'http://p4.music.126.net/nfgZTD8SBvIlnLuGEYWYDg==/109951165182866347.jpg?param=200y200',
                        name:'林俊杰',
                        count:'单曲数605',
                    },
                    {
                        avatar: 'http://p3.music.126.net/ltoFA2DfaCPOsAiXnDns2Q==/109951164681625927.jpg?param=200y200',
                        name:'是你的垚',
                        count:'单曲数35',
                    },
                    {
                        avatar: 'http://p3.music.126.net/eiazGAbIGMBF-Q9lInm5xw==/109951164158509628.jpg?param=200y200',
                        name:'华晨宇',
                        count:'单曲数218',
                    },
                    {
                        avatar: 'http://p4.music.126.net/ATZ8-mOxophKXrLC0iXMZw==/109951163536269820.jpg?param=200y200',
                        name:'许嵩',
                        count:'单曲数238',
                    },
                    {
                        avatar: 'http://p3.music.126.net/e1V73y8t0G-mJMLJ8FK6dw==/109951163511969173.jpg?param=200y200',
                        name:'汪苏泷',
                        count:'单曲数417',
                    },
                    {
                        avatar: 'http://p3.music.126.net/vq6ND24GpdIWorqiWqz2jg==/109951165048009270.jpg?param=200y200',
                        name:'周深',
                        count:'单曲数320',
                    },
                    {
                        avatar: 'http://p4.music.126.net/PFVNR3tU9DCiIY71NdUDcQ==/109951165334518246.jpg?param=200y200',
                        name:'张杰',
                        count:'单曲数623',
                    },
                    {
                        avatar: 'http://p3.music.126.net/_egjY8qgSCwn5s4ZgGu9KA==/109951163427531646.jpg?param=200y200',
                        name:'h3R3',
                        count:'单曲数131',
                    },
                    {
                        avatar: 'http://p4.music.126.net/ytdZwERCVFd8U1VaWL6wXA==/109951165325450537.jpg?param=200y200',
                        name:'Justin Bieber',
                        count:'单曲数1207',
                    },


                ],
                // 女歌手
                userlist2:[
                    {
                        avatar: 'http://p3.music.126.net/kFvcOGKwtNQcskXloPFu4A==/109951163305732134.jpg?param=200y200',
                        name:'傲七爷',
                        count:'单曲数109',
                    },
                    {
                        avatar: 'http://p3.music.126.net/VXY5VYnsUVPExV6ZoQ81zw==/109951163460549658.jpg?param=200y200',
                        name:'司南',
                        count:'单曲数120',
                    },
                    {
                        avatar: 'http://p4.music.126.net/QY_pUbVroy4wW60HMqyS8w==/109951165187976643.jpg?param=200y200',
                        name:'田馥甄',
                        count:'单曲数327',
                    },
                    {
                        avatar: 'http://p4.music.126.net/f2R3-se6DLlcucIusS6mQQ==/109951163610593454.jpg?param=200y200',
                        name:'花粥',
                        count:'单曲数287',
                    },
                    {
                        avatar: 'http://p4.music.126.net/aSIfdr0oLmq-RujG78Oy3w==/109951164481811453.jpg?param=200y200',
                        name:'等什么君',
                        count:'单曲数53',
                    },
                    {
                        avatar: 'http://p4.music.126.net/Q92YwJrk2f2tsK-7B0VIhQ==/6628955605123612.jpg?param=200y200',
                        name:'陈粒',
                        count:'单曲数169',
                    },
                    {
                        avatar: 'http://p4.music.126.net/dh-U2KXHODP5wp8HkApQXg==/109951165317682310.jpg?param=200y200',
                        name:'卢卢快闭嘴',
                        count:'单曲数12',
                    },
                    {
                        avatar: 'http://p4.music.126.net/0Mqbnfd_uGrRe7uYHFPT7w==/109951164784283860.jpg?param=200y200',
                        name:'火羊瞌睡了',
                        count:'单曲数23',
                    },
                    {
                        avatar: 'http://p4.music.126.net/daN7qav1x0nWl-TZRe41dw==/109951163303423969.jpg?param=200y200',
                        name:'王贰浪',
                        count:'单曲数119',
                    },
                    {
                        avatar: 'http://p4.music.126.net/PRa6pWmd4CH0La2xL0kObQ==/109951164922459475.jpg?param=200y200',
                        name:'周思涵',
                        count:'单曲数80',
                    },

                ],
                // 乐队
                userlist3:[
                    {
                        avatar: 'http://p4.music.126.net/ABu20RVf-nzyWRg83ds5rw==/1416170978775000.jpg?param=200y200',
                        name:'群星',
                        count:'单曲数52559',
                    },
                    {
                        avatar: 'http://p3.music.126.net/10SJIPMH-WYPfUv7gD3wWg==/109951163720168310.jpg?param=200y200',
                        name:'Beyond',
                        count:'单曲数2771',
                    },
                    {
                        avatar: 'http://p3.music.126.net/ohub446GfbVtIJ9_H-cjpw==/7719671138847203.jpg?param=200y200',
                        name:'房东的猫',
                        count:'单曲数103',
                    },
                    {
                        avatar: 'http://p4.music.126.net/WSxQCBXPPI-41Qz77fLsOw==/109951162809092287.jpg?param=200y200',
                        name:'音阙诗听',
                        count:'单曲数359',
                    },
                    {
                        avatar: 'http://p4.music.126.net/U9_yVbWosdU9hd2PluL7mQ==/109951164269437732.jpg?param=200y200',
                        name:'Higher Brothers',
                        count:'单曲数259',
                    },
                    {
                        avatar: 'http://p3.music.126.net/reiNPGtXl0vxxMgCXyzRag==/109951165040611052.jpg?param=200y200',
                        name:'Vicetone',
                        count:'单曲数402',
                    },
                    {
                        avatar: 'http://p4.music.126.net/Fp2l7_9h12895Q22lIqzXQ==/109951163438785715.jpg?param=200y200',
                        name:'宝宝巴士',
                        count:'单曲数12',
                    },
                    {
                        avatar: 'http://p4.music.126.net/0Mqbnfd_uGrRe7uYHFPT7w==/109951164784283860.jpg?param=200y200',
                        name:'火羊瞌睡了',
                        count:'单曲数1100',
                    },
                    {
                        avatar: 'http://p3.music.126.net/OMDObi0VPa5V_IY_qqCwdA==/109951165095724398.jpg?param=200y200',
                        name:'BLACKPINK',
                        count:'单曲数154',
                    },
                    {
                        avatar: 'http://p4.music.126.net/7BUW9dnqOMF1dn3ioKJOMg==/109951162820707114.jpg?param=200y200',
                        name:'Fine乐团',
                        count:'单曲数78',
                    },

                ]
            }
        },

    })

</script>
<script>
    var ulObj=$("box");
    var list=ulObj.getElementsByTagName("li");
    console.log(list);
    var dvObj=$("box1");
    var list1=dvObj.getElementsByTagName("ul");
    console.log(list1);
    for (var i=0;i<list.length;i++){
        list[i].setAttribute("index",i);
        list[i].onclick=function () {
             for (var j=0;j<list.length;j++){
                 list[j].removeAttribute("class");
             }
             this.className="active";
             var num=this.getAttribute("index");
             for (var k=0;k<list1.length;k++){
                 list1[k].removeAttribute("class");
             }
             list1[num].className="singer-list";
        }
    }

</script>


</body>
</html>
