<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的音乐</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/songs.css">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="app">
        <!-- 导航栏 -->
        <div class="header shadow">
            <div class="container flex-row">
                <ul class="nav flex-row" id="title">
                    <li><a href="foundMusic.html"  >首页</a></li>
                    <li><a href="singer.html"  >歌手</a></li>
                    <li><a href="songs.html" class="here">歌单</a></li>
                    <li><a href="rankingList.html" >排行榜</a></li>
                </ul>
            </div>
        </div>
        <!-- 内容 -->
        <div class="layout">
            <div class="fluid">
                <div class="songs-wrap container">
                    <!-- 歌曲分类的导航栏 -->
                    <div class="filter shadow">
                            <ul class="tag-lang flex-center" id="box">
                                <li class="active">全部</li>
                                <li class="">华语</li>
                                <li class="">流行</li>
                            </ul>
                    </div>
                    <!-- 横条下方内容 -->
                    <div class="load-more" id="box1">
                        <div class="songs-box" >
                            <!-- 1 -->
                            <ul class="songs-list" >
                                <!-- ------ -->
                                <li class="item six" v-for="(user,index) in userlist":key="index">
                                    <a href="song-list.html" class="active" >
                                        <div class="cover">
                                            <div class="image">
                                                <div class="el-image">
                                                    <img :src="user.avatar" alt="" class="el-image-inner">
                                                </div>
                                            </div>
                                            <div class="count">
                                                <i  class="arrow"></i>
                                                <span >{{user.count}}</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div  class="info">
                                        <h2  class="name ellipsis-two">  {{user.name}} </h2>
                                    </div>
                                </li>
                            </ul>
                            <!-- 2 -->
                            <ul>
                                <!-- ------ -->
                                <li class="item six" v-for="(user,index) in userlist1":key="index">
                                    <a href="song-list.html" class="active" >
                                        <div class="cover">
                                            <div class="image">
                                                <div class="el-image">
                                                    <img :src="user.avatar" alt="" class="el-image-inner">
                                                </div>
                                            </div>
                                            <div class="count">
                                                <i  class="arrow"></i>
                                                <span >{{user.count}}</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div  class="info">
                                        <h2  class="name ellipsis-two">  {{user.name}} </h2>
                                    </div>
                                </li>
    
                            </ul>
                            <!-- 3 -->
                            <ul>
                                <!-- ------ -->
                                <li class="item six" v-for="(user,index) in userlist2":key="index">
                                    <a href="song-list.html" class="active" >
                                        <div class="cover">
                                            <div class="image">
                                                <div class="el-image">
                                                    <img :src="user.avatar" alt="" class="el-image-inner">
                                                </div>
                                            </div>
                                            <div class="count">
                                                <i  class="arrow"></i>
                                                <span >{{user.count}}</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div  class="info">
                                        <h2  class="name ellipsis-two">  {{user.name}} </h2>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
     </div>
     <!-- 底部 -->
     <div  class="footer">
        <div  class="container">
            <p class="left">
                Mymusic
            </p>
            <p >
                <span class="mr5">Mymusic © 2019-2020</span>
                <a href="#" id="mymusic">mymusic 演示站</a>
                <span >. Designed by cheng</span>
            </p>
        </div>
    </div>
</div>
<script>
    let vm=new Vue({
        el:'#app',
        data() {
            return {
                user:{
                    avatar: 'http://p4.music.126.net/OWmLAg-TdPOoBtNw_UnT3g==/109951165349862554.jpg?param=300y300',
                    count:'39088',
                    name:'月圆团圆 | 幸福总会在我手上',
                },
                userlist: [
                    {
                        avatar: 'http://p4.music.126.net/OWmLAg-TdPOoBtNw_UnT3g==/109951165349862554.jpg?param=300y300',
                        count:'39088',
                        name:'月圆团圆 | 幸福总会在我手上',
                    },
                    {
                        avatar: 'http://p4.music.126.net/PvHc1tqol7ReNuzG2PksJw==/109951165094046391.jpg?param=300y300',
                        count:'883万',
                        name:'聆听民谣里的专属爱情',
                    },
                    {
                        avatar: 'http://p3.music.126.net/jx5oLymBG8fkUscFlpPGoQ==/109951165213818113.jpg?param=300y300',
                        count:'214万',
                        name:'一杯秋酿丨你的秋日好运正在派件啦 ',
                    },
                    {
                        avatar: 'http://p4.music.126.net/OGGdlIZDqtk5Nsovu-JFuA==/109951165353390668.jpg?param=300y300',
                        count:'34万',
                        name:'跨过星河迈过月亮 去迎接更好的自己 ',
                    },
                    {
                        avatar: 'http://p3.music.126.net/VxDxnx6WrkuJCJ1DZX6sMA==/109951165249824582.jpg?param=300y300',
                        count:'60万',
                        name:'甜甜的纯音乐 | 请保持一颗少女心',
                    },
                    {
                        avatar: 'http://p3.music.126.net/uq4mh8omTZYhdgJfFqBXkw==/109951164376804853.jpg?param=300y300',
                        count:'620万',
                        name:'青春重置计划：邀你一起走过时间的缝隙',
                    },
                    {
                        avatar: 'http://p4.music.126.net/RsZKnxiDveR6U-mRj_6ktQ==/109951165082593582.jpg?param=300y300',
                        count:'2089万',
                        name:'Cover烟嗓翻唱|深情惬意',
                    },
                    {
                        avatar: 'http://p3.music.126.net/FgUskDpQlquhAH2vlcn3-g==/109951165019298043.jpg?param=300y300',
                        count:'394万',
                        name:'下雨天 | 一腔孤勇地穿越人山人海',
                    },

                    {
                        avatar: 'http://p4.music.126.net/csO9HMCP-HIwbjDP2_XSCQ==/109951165020624503.jpg?param=300y300',
                        count:'78万',
                        name:'六月限定｜与你相遇是夏日浪漫的序章',
                    },
                    {
                        avatar: 'http://p3.music.126.net/hYWgoYh5K5V3mhjDymU_nw==/109951164777595620.jpg?param=300y300',
                        count:'322万',
                        name:'『游戏』玩游戏通宵必备/节奏感强 ',
                    },
                    {
                        avatar: 'http://p4.music.126.net/bgp1zfjQ1K9npT6F894w5A==/109951165151246317.jpg?param=300y300',
                        count:'897万',
                        name:'和你离开的距离是一万次低头哭泣！',
                    },
                    {
                        avatar: 'http://p3.music.126.net/un-PTH12Ls8f0-PtrNe0Ng==/109951164950612764.jpg?param=300y300',
                        count:'198万',
                        name:'疗愈星河深处让伤感优雅的落幕  ',
                    },
                    {
                        avatar: 'http://p3.music.126.net/Y7cveTgV3qbYTwqJ2FNnBw==/109951164526625758.jpg?param=300y300',
                        count:'36万',
                        name:' 颠覆想象的印地语精选Hindī ',
                    },
                    {
                        avatar: 'http://p4.music.126.net/HMWbhqBgPfzD0LsEnKSrUA==/109951164526624072.jpg?param=300y300',
                        count:'25万',
                        name:'越南音乐的温柔魅力之歌',
                    },
                    {
                        avatar: 'http://p4.music.126.net/9VTX0-BY8UgC2YayBMac0Q==/109951164611860610.jpg?param=300y300',
                        count:'69万',
                        name:'中文硬核之王法老之歌',
                    },
                    {
                        avatar: 'http://p3.music.126.net/Xsb7sGXgd-tSlq7WvFxK7Q==/109951164808034815.jpg?param=300y300',
                        count:'47万',
                        name:'超好听的神仙纯音乐❀',
                    },

                ],
                // 华语歌曲
                userlist1: [
                    {
                        avatar: 'http://p4.music.126.net/OWmLAg-TdPOoBtNw_UnT3g==/109951165349862554.jpg?param=300y300',
                        count:'39088',
                        name:'月圆团圆 | 幸福总会在我手上',
                    },
                    {
                        avatar: 'http://p4.music.126.net/PvHc1tqol7ReNuzG2PksJw==/109951165094046391.jpg?param=300y300',
                        count:'883万',
                        name:'聆听民谣里的专属爱情',
                    },
                    {
                        avatar: 'http://p3.music.126.net/jx5oLymBG8fkUscFlpPGoQ==/109951165213818113.jpg?param=300y300',
                        count:'214万',
                        name:'一杯秋酿丨你的秋日好运正在派件啦 ',
                    },
                    {
                        avatar: 'http://p4.music.126.net/OGGdlIZDqtk5Nsovu-JFuA==/109951165353390668.jpg?param=300y300',
                        count:'34万',
                        name:'跨过星河迈过月亮 去迎接更好的自己 ',
                    },
                    {
                        avatar: 'http://p3.music.126.net/VxDxnx6WrkuJCJ1DZX6sMA==/109951165249824582.jpg?param=300y300',
                        count:'60万',
                        name:'甜甜的纯音乐 | 请保持一颗少女心',
                    },
                    {
                        avatar: 'http://p3.music.126.net/uq4mh8omTZYhdgJfFqBXkw==/109951164376804853.jpg?param=300y300',
                        count:'620万',
                        name:'青春重置计划：邀你一起走过时间的缝隙',
                    },
                    {
                        avatar: 'http://p4.music.126.net/RsZKnxiDveR6U-mRj_6ktQ==/109951165082593582.jpg?param=300y300',
                        count:'2089万',
                        name:'Cover烟嗓翻唱|深情惬意',
                    },
                    {
                        avatar: 'http://p3.music.126.net/FgUskDpQlquhAH2vlcn3-g==/109951165019298043.jpg?param=300y300',
                        count:'394万',
                        name:'下雨天 | 一腔孤勇地穿越人山人海',
                    },
                ],
                // 流行歌曲
                userlist2: [
                    {
                        avatar: 'http://p4.music.126.net/csO9HMCP-HIwbjDP2_XSCQ==/109951165020624503.jpg?param=300y300',
                        count:'78万',
                        name:'六月限定｜与你相遇是夏日浪漫的序章',
                    },
                    {
                        avatar: 'http://p3.music.126.net/hYWgoYh5K5V3mhjDymU_nw==/109951164777595620.jpg?param=300y300',
                        count:'322万',
                        name:'『游戏』玩游戏通宵必备/节奏感强 ',
                    },
                    {
                        avatar: 'http://p4.music.126.net/bgp1zfjQ1K9npT6F894w5A==/109951165151246317.jpg?param=300y300',
                        count:'897万',
                        name:'和你离开的距离是一万次低头哭泣！',
                    },
                    {
                        avatar: 'http://p3.music.126.net/un-PTH12Ls8f0-PtrNe0Ng==/109951164950612764.jpg?param=300y300',
                        count:'198万',
                        name:'疗愈星河深处让伤感优雅的落幕  ',
                    },
                    {
                        avatar: 'http://p3.music.126.net/Y7cveTgV3qbYTwqJ2FNnBw==/109951164526625758.jpg?param=300y300',
                        count:'36万',
                        name:' 颠覆想象的印地语精选Hindī ',
                    },
                    {
                        avatar: 'http://p4.music.126.net/HMWbhqBgPfzD0LsEnKSrUA==/109951164526624072.jpg?param=300y300',
                        count:'25万',
                        name:'越南音乐的温柔魅力之歌',
                    },
                    {
                        avatar: 'http://p4.music.126.net/9VTX0-BY8UgC2YayBMac0Q==/109951164611860610.jpg?param=300y300',
                        count:'69万',
                        name:'中文硬核之王法老之歌',
                    },
                    {
                        avatar: 'http://p3.music.126.net/Xsb7sGXgd-tSlq7WvFxK7Q==/109951164808034815.jpg?param=300y300',
                        count:'47万',
                        name:'超好听的神仙纯音乐❀',
                    },

                ]
            }
        },

    })

</script>
<script>
    var ulObj=$("box");
    var list=ulObj.getElementsByTagName("li");
    console.log(list);
    var dvObj=$("box1");
    var list1=dvObj.getElementsByTagName("ul");
    console.log(list1);
    for (var i=0;i<list.length;i++){
        list[i].setAttribute("index",i);
        list[i].onclick=function () {
             for (var j=0;j<list.length;j++){
                 list[j].removeAttribute("class");
             }
             this.className="active";
             var num=this.getAttribute("index");
             for (var k=0;k<list1.length;k++){
                 list1[k].removeAttribute("class");
             }
             list1[num].className="songs-list";
        }
    }
</script>


</body>
</html>
